<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.junit.launchconfig">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/wekaTp1/src/weka/gui/scripting/event"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="2"/>
</listAttribute>
<listAttribute key="org.eclipse.eclemma.core.SCOPE_IDS">
<listEntry value="=wekaTp1/D:\/weka\/weka-3.8-master\/weka\/lib\/arpack_combined.jar"/>
<listEntry value="=wekaTp1/D:\/weka\/weka-3.8-master\/weka\/lib\/bounce.jar"/>
<listEntry value="=wekaTp1/D:\/weka\/weka-3.8-master\/weka\/lib\/commons-compress-1.18.jar"/>
<listEntry value="=wekaTp1/D:\/weka\/weka-3.8-master\/weka\/lib\/core.jar"/>
<listEntry value="=wekaTp1/src"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.junit.CONTAINER" value="=wekaTp1/src&lt;weka.gui.scripting.event"/>
<booleanAttribute key="org.eclipse.jdt.junit.KEEPRUNNING_ATTR" value="false"/>
<stringAttribute key="org.eclipse.jdt.junit.TESTNAME" value=""/>
<stringAttribute key="org.eclipse.jdt.junit.TEST_KIND" value="org.eclipse.jdt.junit.loader.junit3"/>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value=""/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="wekaTp1"/>
<stringAttribute key="org.eclipse.jdt.launching.VM_ARGUMENTS" value="-ea"/>
</launchConfiguration>
